<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if session.get('user_id') %}
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
    {% endif %}

    <!-- Code for displaying the user's data -->

    <h1>Welcome, {{ user.UserFName }} {{ user.UserLName }}</h1>
    <p>Email: {{ user.UserEmail }}</p>
    <p>Gender: {{ user.Gender }}</p>
    <p>DOB: {{ user.DoB }}</p>
    <p>Height: {{ user.Height }} cm</p>
    <p>Weight: {{ user.Weight }} kg</p>

    <!-- Links to add and view workouts and meals-->
    <div class="button-container">
        <a class="button" href="{{ url_for('add_workout') }}">Add Workout</a>
    </div>

    <div class="button-container">
        <a class="button" href="{{ url_for('view_workouts') }}">View Workouts</a>
    </div>

    <div class="button-container">
        <a class="button" href="{{ url_for('add_meal') }}">Add a Meal</a>
    </div>

    <div class="button-container">
        <a class="button" href="{{ url_for('view_meals') }}">View Meals</a>
    </div>

</body>
</html>
